.nutup-aib {
    background-color: darkblue;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 40px;
    z-index: -200;
}

.nutup-aib-2 {
    background-color: white;
    width: 100%;
    height: 1100px;
    position: absolute;
    top: 580px;
    z-index: -1000;
}


// pergantian dark-mode,ligth-mode,normal-mode 📌👿📌👿
#dark-mode,#light-mode,#normal-mode {
    position: fixed;
    top: -100px;
}

// dark-mode black 📌

#dark-mode:checked~.dark-aktive{
    background-color: black;
    color: white;
    border-color: black;
}

#dark-mode:checked~* .dark-aktive{
    background-color: black;
    color: white;
    border-color: black;
}

#dark-mode:checked~* * .dark-aktive{
    background-color: black;
    color: white;
    border-color: black;
}

#dark-mode:checked~* * * .dark-aktive{
    background-color: black;
    color: white;
    border-color: black;
}


#dark-mode:checked~* * * * .dark-aktive{
    background-color: black;
    color: white;
    border-color: black;
}

#dark-mode:checked~.border-aktive{
    border-color: black;
}

#dark-mode:checked~* .border-aktive{
    border-color: black;
}

#dark-mode:checked~* * .border-aktive{
    border-color: black;
}

#dark-mode:checked~* * * .border-aktive{
    border-color: black;
}

#dark-mode:checked~* * * * .border-aktive{
    border-color: black;
}

// dark-mode 🤣 📌

// light-mode 😍e 📌
#light-mode:checked~.dark-aktive{
    background-color: white;
    color: black;
    border-color: white;
}

#light-mode:checked~* .dark-aktive{
    background-color: white;
    color: black;
    border-color: white;
}

#light-mode:checked~* *.dark-aktive{
    background-color: white;
    color: black;
    border-color: white;
}

#light-mode:checked~* * * .dark-aktive{
    background-color: white;
    color: black;
    border-color: white;
}

#light-mode:checked~* * * *.dark-aktive{
    background-color: white;
    color: black;
    border-color: white;
}

// light aktive 📌
#light-mode:checked.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
    text-shadow: black;
}

#light-mode:checked~ *.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
}

#light-mode:checked~ * *.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
}

#light-mode:checked~ * *.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
}

#light-mode:checked~ * * *.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
}

#light-mode:checked~ * * * *.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
}

#light-mode:checked~ * * * * *.light-aktive{
    background-color: black;
    color: white;
    border-color: white;
}


#light-mode:checked~.border-aktive{
    border-color: white;
}

#light-mode:checked~* .border-aktive{
    border-color: white;
}

#light-mode:checked~* * .border-aktive{
    border-color: white;
}

#light-mode:checked~* * * .border-aktive{
    border-color: white;
}

#light-mode:checked~* * * * .border-aktive{
    border-color: white;
}

// tambaham dark-mode untuk hanphone
 @media (min-width: 320px) and (max-width: 767px) { 
    #light-mode:checked~* * .nav-medsos-toogle span{
    color: rgb(255, 255, 255);
    background-color: black;
    }
}


 @media (min-width: 768px) and (max-width: 1024px) { 
    #light-mode:checked~* * .nav-medsos-toogle span{
    color: rgb(255, 255, 255);
    background-color: black;
    }
 }


// dark-mode white 📌
// pergantian dark-mode,ligth-mode,normal-mode 📌👿👿