
// scroll setting
::-webkit-scrollbar {
        width: 0px;
        background-color: transparent;
    }

    /* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}
// scroll setting

// scroll setting
#light-mode:checked~ * ::-webkit-scrollbar-thumb {
  background: white;
}

#dark-mode:checked~ * ::-webkit-scrollbar-thumb {
  background: black;
}

#light-mode:checked~ * ::-webkit-scrollbar-track {
  background-color: black;
}

#light-mode:checked~ * ::-webkit-scrollbar-thumb:hover {
  background: red;
}

#dark-mode:checked~ * ::-webkit-scrollbar-thumb:hover {
  background: red;
}
// scroll change



// tambahan pergian dark mode
#light-mode:checked~.utama-pembungkus {
    background-image: url(https://images.pexels.com/photos/1816823/pexels-photo-1816823.jpeg?auto=compress&cs=tinysrgb&w=600);
}

#dark-mode:checked~.utama-pembungkus {
    background-image: url(https://images.unsplash.com/photo-1525935944571-4e99237764c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHN0cmVldCUyMGF0JTIwbmlnaHR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
}
// header content


// image-header
// https://media.istockphoto.com/vectors/crowd-of-people-vector-seamless-pattern-monochrome-background-with-vector-id1278584455?b=1&k=20&m=1278584455&s=170667a&w=0&h=715iK2dKz4ezqoYxLL3b7MH4Ed7xl2ts5Ajmdv8xZHw=
.utama-pembungkus {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(https://images.pexels.com/photos/1782407/pexels-photo-1782407.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
// tambahan untuk pergantian dark mode


// variabel
$dark-mode  : black;
$light-mode : white;


// pergantian dark-mode,ligth-mode,normal-mode 📌👿📌👿
#dark-mode,#light-mode,#normal-mode {
    position: fixed;
    top: -100px;
}

// dark-mode black 📌 
#dark-mode:checked~.dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~ * * * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~ * * * * * * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * * .dark-bg-aktive{
    background-color: $dark-mode;
}
// ✅✅✅✅✅✅✅✅✅ akhir dark bg



// dark-mode black light white 📌 
#dark-mode:checked~.light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~ * * * * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * * * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~ * * * * * * * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * * * * * * * * .light-bg-aktive{
    background-color: $light-mode;
}

#dark-mode:checked~* * * * * * * * * * * * .light-bg-aktive{
    background-color: $light-mode;
}
// ✅✅✅✅✅✅✅✅✅ akhir darklight white bg




// dark-color ✅✅✅✅✅✅ font white light
#dark-mode:checked~.dark-font{
    color: $dark-mode;
}

#dark-mode:checked~* .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~ * * * * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~ * * * * * * * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * .light-font{
    color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * * .light-font{
    color: $dark-mode;
}
// akhir dari dark-color✅✅✅✅✅✅✅ font-light white






// dark-color ✅✅✅✅✅✅
#dark-mode:checked~.dark-font{
    color: $light-mode;
}

#dark-mode:checked~* .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~ * * * * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * * * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~ * * * * * * * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * * * * * * * * .dark-font{
    color: $light-mode;
}

#dark-mode:checked~* * * * * * * * * * * * .dark-font{
    color: $light-mode;
}
// akhir dari dark-color✅✅✅✅✅✅✅


// dark border  ✅✅✅✅✅✅✅
#dark-mode:checked~.dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~ * * * * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~ * * * * * * * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * .dark-border{
    border-color: $dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * * .dark-border{
    border-color: $dark-mode;
}
// dark-border ✅✅✅✅✅✅✅

// dark text-shadow ✅✅✅✅✅✅
#dark-mode:checked~.dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~ * * * * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * * * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~ * * * * * * * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * .dark-text-shadow{
    text-shadow:$dark-mode;
}

#dark-mode:checked~* * * * * * * * * * * * .dark-text-shadow { 
    text-shadow:$dark-mode;
}
// dark text-shadow ✅✅✅✅✅✅










// tambaham dark-mode untuk hanphone
 @media (min-width: 320px) and (max-width: 767px) { 
    #light-mode:checked~* * .nav-medsos-toogle span{
    color: rgb(255, 255, 255);
    background-color: black;
    }
}


 @media (min-width: 768px) and (max-width: 1024px) { 
    #light-mode:checked~* * .nav-medsos-toogle span{
    color: rgb(255, 255, 255);
    background-color: black;
    }
 }


// dark-mode white 📌
// pergantian dark-mode,ligth-mode,normal-mode 📌👿👿

































































// dark-mode white 📌 
#light-mode:checked~.dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~ * * * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~ * * * * * * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * * * * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}

#light-mode:checked~* * * * * * * * * * * * .dark-bg-aktive{
    background-color: $light-mode;
}
// ✅✅✅✅✅✅✅✅✅ akhir dark bg

// dark-color ✅✅✅✅✅✅
#light-mode:checked~.dark-font{
    color: $dark-mode;
}

#light-mode:checked~* .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~ * * * * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * * * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~ * * * * * * * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * * * * * * * * .dark-font{
    color: $dark-mode;
}

#light-mode:checked~* * * * * * * * * * * * .dark-font{
    color: $dark-mode;
}
// akhir dari dark-color✅✅✅✅✅✅✅


// dark border  ✅✅✅✅✅✅✅
#light-mode:checked~.dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~ * * * * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * * * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~ * * * * * * * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * * * * * * * * .dark-border{
    border-color: $light-mode;
}

#light-mode:checked~* * * * * * * * * * * * .dark-border{
    border-color: $light-mode;
}
// dark-border ✅✅✅✅✅✅✅

// dark text-shadow ✅✅✅✅✅✅
#light-mode:checked~.dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~ * * * * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * * * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~ * * * * * * * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * * * * * * * * .dark-text-shadow{
    text-shadow:$light-mode;
}

#light-mode:checked~* * * * * * * * * * * * .dark-text-shadow { 
    text-shadow:$light-mode;
}
// dark text-shadow ✅✅✅✅✅✅
















// 📌 light-bg-aktive

// dark-mode white 📌 
#light-mode:checked~.light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~ * * * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~ * * * * * * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * * * * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}

#light-mode:checked~* * * * * * * * * * * * .light-bg-aktive{
    background-color: $dark-mode;
}


// light-font white
#light-mode:checked~.light-font{
    color: $light-mode;
}

#light-mode:checked~* .light-font{
    color: $light-mode;
}

#light-mode:checked~* * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~ * * * * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * * * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~ * * * * * * * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * * * * * * * * .light-font{
    color: $light-mode;
}

#light-mode:checked~* * * * * * * * * * * * .light-font{
    color: $light-mode;
}
// ✅✅✅✅✅✅✅✅✅ akhir dark bg
