 @media (min-width: 320px) and (max-width: 767px) {
     $font-1: 'Permanent Marker', cursive;
     $font-2: 'Secular One', sans-serif;
     $font-3: 'Oleo Script', cursive;
     $font-4: 'Fira Sans Extra Condensed', sans-serif;

    // .header-profile {
    //     .textdanimage {
    //         img {
    //             transform: scale(.7);
    //         }
    //     }
    // }

     .radio-profile {
         display: flex;
         width: 100%;
         flex-direction: column;
         background-color: white;
         color: black;
         justify-content: space-evenly;
         margin-top: 30px;
         
         label {
             padding: 0 0 0 20px;
             box-sizing: border-box;
             width: 100%;
         }
     }

     .profile-ul {
         table {
            text-align: left;
        tbody * {
            padding-bottom: 10px;
        }
    }
}

 
}