 @media (max-width: 767px) {
     $font-1: 'Permanent Marker', cursive;
     $font-2: 'Secular One', sans-serif;
     $font-3: 'Oleo Script', cursive;
     $font-4: 'Fira Sans Extra Condensed', sans-serif;

    // .header-profile {
    //     .textdanimage {
    //         img {
    //             transform: scale(.7);
    //         }
    //     }
    // }

     .radio-profile {
         display: flex;
         width: 100%;
         flex-direction: column;
         background-color: white;
         color: black;
         justify-content: space-evenly;
         margin-top: 30px;
         
         label {
             padding: 0 0 0 20px;
             box-sizing: border-box;
             width: 100%;
         }
     }

     .profile-ul {
         table {
            text-align: left;
        tbody * {
            padding-bottom: 10px;
        }
    }
}


@for $i from 1 to 4 {
    #profile-radio-#{$i}:checked~ .radio-profile .label-profile-#{$i}::before {
        content: "▶";
        color: rgb(255, 0, 0);
    }

     #profile-radio-#{$i}:checked~ .radio-profile .label-profile-#{$i} {
        background-color: silver;
        border: 2px double red;
        border-right-color: transparent;
        border-left-color:transparent ;
        color: rgb(255, 0, 0);
        // box-shadow: 0px 0px 10px 2.5px black;
        transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
     }

}












































































}