/* content utama website laptop awal 💻 */
.content-utama {
    width: 100vw;
    margin: -1px;
    transform: translateY(-15px);
    position: absolute;
    height: 400px;
    overflow: hidden;
    background-color: green;
    top: 0px;
    z-index: -100;
    display: grid;
    grid-template-areas: 'judul'
                         'image-slide';
    grid-template-rows: repeat(auto-fit,fit-content);
    box-shadow: 4px 4px 15px black;
}
/* content utama website laptop awal 💻 */

