* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(235, 235, 235);
    width: 100vw;
    overflow-x: hidden;
}
/* navbar awal laptop */
nav {
    position : fixed;
    height: 50px ;
    width : 100%;
    top: 0;
    left: 0;
    background-image : linear-gradient(to left,silver, skyblue,rgb(17, 110, 239),darkblue);
    display: flex;
}

nav .nav-ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.teks-logo:hover a::after {
    content: "✅";
    font-size: 1.5vw;
}

.nav-teks span:hover a::before {
    content: "👉";
}

.logo-medsos span:hover a::before {
    content: "👉";
    font-size: 2vw;
}

.teks-logo {
    font-family: 'Oleo Script', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 80%;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    text-shadow: 4px 2px 2px rgb(147, 51, 51);
}

.teks-logo a {
    font-size: 2.2vw;
    color: white;
    margin-left: 5px;
}

.teks-logo img {
    width: 50px;
}

.nav-teks {
    display: flex;
    justify-content: space-around;
    font-family:'Permanent Marker', cursive;
    width:45%;
    font-size: 1.5vw;
}

.nav-teks a {
    color: black;
    text-shadow:1px 1px 2px white, 1px 1px 1px rgb(251, 255, 0);
    font-weight: bold;
}

.logo-medsos {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* contact awal laptop */

.contact-pembungkus:hover {
    background-color: rgba(255, 255, 255, 0.524);
    height: 100%;
}

.contact-pembungkus:hover label a::before {
    content: "";
}

#contact {
    position: fixed;
    top: -500px;
}

#contact:checked~.isi-contact {
    display: flex;
}

#contact:hover~.isi-contact {
    display: flex;
}

.isi-contact::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50% 0 0 0;
    position: absolute;
    background-color: white;
    left: 150px;
    transform: rotate(-140deg);
    top: -5px;
}

.isi-contact span:hover a {
    background-color: rgba(170, 165, 165, 0.291);
}

.isi-contact {
    display: none;
    flex-direction: column;
    width: max-content;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    transform: translateY(0px) translateX(-100px);
    background-color: white;
    border:1 solid blue;
    box-shadow: 3px 3px 10px black;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.isi-contact a  {
    color: red;
}

.isi-contact label {
    color: black;
}
/* contact akhir laptop */

/* toogle-bar awal laptop */
.toogle-bar {
    display: none;
}

.x-toogle {
    display: none;
}

.toogle-ul {
    display: none;
}
/* toogle bar awal laptop */
/* navbar akhir laptop  */

/*✅ ul-sub-bab utama awal laptop📃 */
.ul-sub-bab {
    display: flex;
    position: fixed;
    top: 50px;
    width: 100vw;
    height: 10px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: -1;
    font-family: 'IBM Plex Serif', serif;
}

.li-sub-bab {
    width: calc(100% - 255px);
    height: 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 2.5px solid blue;
    box-sizing: border-box;
}
/* ul-sub-bab-utama akhir laptop 📃*/

/* ol-content-sub laptop ⏩*/
.ol-sub-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    list-style-type: none;
}

.ol-sub-content li a {
    display: flex;
    width: max-content;
    margin-right:20px;
    color:rgb(0, 0, 0);
}

.ol-sub-content li a:hover {
    background-color: skyblue;
}
/* ol-content-sub laptop ⏩ */

/* LI TOOGLE SUB-CONTENT 📌 */
.toogle-sub-bab {
    display: flex;
    width: 255px;
    height: 50px;
    align-items: center;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-bottom: 2.5px solid blue;
    box-sizing: border-box;
    font-size: 1.3rem;
}

/* SEARCH SUB-AWAL LAPTOP 🔍*/
.label-search-sub {
    transform: translate(-30px,1px);
}

#search-sub {
    height: 70%;
    width: 152px;
    font-size: 1rem;
    margin-left: 1px;
    background-color: white;
}

#search-sub:focus~.label-search-sub{
    z-index: -1;
}

#search-sub:focus{
    box-shadow: 0px 0px 6px 3px skyblue;
}
/* SEARCH SUB-AKHIR LAPTOP 🔍 */

/* toogle-sub-bab awal 🔼🔽 laptop*/
.close-sub {
    display: none;
}

#sub-checkbox {
    position: absolute;
    top:-1000px;
}

.open-sub {
    color: white;
}

#sub-checkbox:checked~.open-sub {
    display: none;
}

#sub-checkbox:checked~.close-sub {
    display: flex;
    position: relative;
    z-index: 10;
}

.toogle-content-sub-bab {
    display: none;
}

#sub-checkbox:checked~.toogle-content-sub-bab {
    display: flex;
    height: 30vh;
    width:calc(100vw - 255px);
    top: 50px;
    left: 0;
    position: fixed;
    z-index: 100;
    overflow: auto;
    border-right: 3px solid blue;
    border-bottom: 3px solid blue;
    background-color: white;
}

.ol-sub-content-toogle {
    width:calc(100vw - 255px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.ol-sub-content-toogle li {
    display: flex;
    width:max-content;
    height: fit-content;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ol-sub-content-toogle li:hover {
    background-color: skyblue;
}

.ol-sub-content-toogle li a {
    color: black;
    font-size: 1.3rem;
}
/* toogle-sub-bab akhir 🔼🔽 laptop */
/*✅ ul-sub-bab utama akhir laptop  */

/* content utama website laptop awal 💻 */
.content-utama {
    width: 100vw;
    margin: 105px 0 0;
    position: absolute;
    z-index: -100;
    display: grid;
    grid-template-areas: 'judul'
                         'image-slide';
    grid-template-rows: repeat(auto-fit,fit-content);
    background-color: white;
    box-shadow: 4px 4px 15px black;
}

.pembungkus-judul {
    top: 105px;
    width: 100vw;
    box-sizing: border-box;
    background-color: blue;
    color: white;
    font-family:'Secular One', sans-serif;
    font-size: 1.1rem;
    text-shadow: 1.6px 1.6px 0 black,-1.6px -1.6px 0 black;
    padding-left: 10px;
    grid-area: judul;
    font-style: italic;
    box-sizing: border-box;
    border-bottom: 1px solid black ;
}

/* content utama website laptop awal 💻 */

/* isi kontent-utama laptop awal*/
.isi-content {
    width: 100%;
    display: grid;
    background-color: green; 
    height: 1000px;   
}
/* isi kontent-utama laptop akhir*/













/* @media query atau breakpoint untuk screen layar tablet */
 @media (min-width: 768px) and (max-width: 1024px) {

 /* navbar awal utama TABLET */
nav {
    position: fixed;
    height:50px ;
    width:100%;
    background-image: linear-gradient(to left,silver, skyblue,rgb(17, 110, 239),darkblue);
    border-bottom: none;
    display: flex;
}

nav .nav-ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.teks-logo:hover a::after {
    content: "✅";
    font-size: 1.5vw;
}

.teks-logo {
    font-family: 'Oleo Script', cursive;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    padding-left: 20px;
    box-sizing: border-box;
}

.teks-logo a {
    font-size: 3.5vw;
    color: white;
    margin-left: 5px;
}

.nav-teks span:hover a::before {
    display: none;
}

.logo-medsos span:hover a::before {
    display:none;
}

.nav-teks {
    display:none;
}

.logo-medsos {
    display:none;
}
/* navbar utama akhir tablet */

/* toogle-bar awal Tablet dan checkbox */
.toogle-bar {
    display: flex;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 8px;
    align-items: center;
    justify-content: space-evenly;
}

#check-toogle {
    opacity: 0;
}

#check-toogle:checked~.x-toogle {
    display: flex;
    font-size: 35px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    border:2px solid whitesmoke;
    text-shadow: 1px 1px 1px white;
}

#check-toogle:checked~.button-toogle{
    display: none;
}

.button-toogle {
    display: flex;
    width: 50px;
    height: 48px;
    border: 4px solid grey;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transform: translate(0,4px);
}

#check-toogle:checked~.toogle-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    right: 0;
    overflow: auto;
}
/* toogle-bar akhir Tablet dan checkbox */

/* contact awal tablete */

#contact-toogle {
    position: fixed;
    top: -50px;
}

#contact-toogle:checked~.isi-contact {
    display: flex;
    position: fixed;
    left:50px;
    top: 50px;
    width: max-content;
    overflow: auto;
    transform: translate(0,0);
}

.isi-contact span {
    color:rgb(0, 0, 0);
    font-size: 2.9rem;
}

.judul-contact-toogle{
    display: flex;
    justify-content: space-between;
}

.nav-teks-toogle .close-contact {
    font-size: 2rem;
    background-color: red;
    width: 100%;
    height: max-content;
    color: white;
    text-align: center;
    margin-top: 5px;
}
/* contact akhir tablet */

/* nav teks toogle awal tablet / home / about/ contact */
.nav-teks-toogle {
    display: flex;
    width: 100%;
    height: 45%;
    justify-content:space-evenly ;
    align-items: center;
    flex-direction: column;
    font-size: 3.5vw;
    font-family: 'Secular One', sans-serif;
    overflow: auto;
}

.nav-teks-toogle .judul-toogle a {
    color: white;
}

.nav-teks-toogle span:hover {
    background-color: rgba(25, 8, 218, 0.411);
}
/* nav teks toogle akhir tablet / home / about/ contact */

/* nav teks toogle tablet awal / youtube / instagram/ facebook */
.logo-medsos-toogle {
    display: flex;
    width: 100%;
    height: 25%;
    flex-direction: column;
    justify-content: space-around;
}

.h3-logo-medsos-toogle {
    text-align: center;
    font-family:'Permanent Marker', cursive;
    font-size: 5vw;
    text-shadow: 3px 3px 6px rgb(255, 0, 0);
    color: rgb(255, 243, 243);
}

.h3-logo-medsos-toogle::after {
    content: "🔔";
    text-shadow: none;
}

.icon-toogle {
    background-color: white;
    margin: 10px;
}

.icon-toogle a {
    display: flex;
    align-items: center;
    font-size: 4vw;
    color: blue;
    font-family: 'Secular One', sans-serif;
}
/* nav teks toogle tablet akhir / youtube / instagram/ facebook */
/* toogle bar akhir Tablet */
/* navbar akhir TABLET  */

/* toogle sub-bab awal tablet 🔽🔼 */
.toogle-sub-bab {
    display: flex;
    width: 255px;
    height: 50px;
    align-items: center;
    background-color:blue;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
 }
 #sub-checkbox:checked~.open-sub {
    display: none;
}

 #sub-checkbox:checked~.toogle-content-sub-bab {
    display: flex;
    height: fit-content;
    width:calc(100% - 255px);
    top: 50px;
    left: 0;
    position: fixed;
    z-index: 100;
    overflow: auto;
    border-right: 2px solid blue;
    border-bottom: 2px solid blue;
    box-sizing: border-box;
    background-color: white;
}

.ol-sub-content-toogle {
    display: flex;
    width: 100%;
    height: max-content;
    overflow: auto;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.ol-sub-content-toogle li {
    display: flex;
    width: max-content;
    height: fit-content;
}

.ol-sub-content-toogle li:hover {
    background-color: skyblue;
}

.ol-sub-content-toogle li a {
    color: black;
    font-size: 1.3rem;
}
/* toogle sub-bab akhir tablet 🔽🔼 */

/* content utama website tablet awal 🦍*/
.content-utama {
    width: 100vw;
    margin: 100px 0% 0;
    position: absolute;
    top: 0;
    z-index: -100;
    display: grid;
    grid-template-areas: 'judul'
                         'image-slide';
    grid-template-rows: repeat(auto-fit,fit-content);
    background-color: white;
    box-shadow: 4px 4px 15px black;
}

.pembungkus-judul {
    top: 105px;
    width: 100%;
    box-sizing: border-box;
    background-color: blue;
    color: white;
    font-family:'Secular One', sans-serif;
    font-size: 1.1rem;
    text-shadow: 1.6px 1.6px 0 black,-1.6px -1.6px 0 black;
    padding-left: 10px;
    grid-area: judul;
    font-style: italic;
    box-sizing: border-box;
    border-bottom: 1px solid black ;
}

.isi-content {
    width: 100%;
    display: grid;
    background-color: green; 
    height: 1000px;   
}
/* content utama website tablet awal 🦍 */

}





































/* @media query atau breakpoint untuk screen layar handphone */
     @media (min-width: 320px) and (max-width: 767px) {
         /* navbar utama awal handphone */
nav {
    position: fixed;
    height:50px ;
    width:100%;
    background-image: linear-gradient(blue, skyblue);
    display: flex;
}

nav .nav-ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.teks-logo:hover a::after {
    content: "✅";
    font-size: 5.5vw;
    display: none;
}

.teks-logo {
    font-family: 'Oleo Script', cursive;
    display: flex;
    align-items: space-around;
    justify-content: flex-start;
    width: calc(100vw - 60px);
    padding-left:1px;
    box-sizing: border-box;
}

.teks-logo a {
    font-size: calc(1em + 2vw);
    color: white;
    margin-left: 5px;
}

.nav-teks span:hover a::before {
    display: none;
}

.logo-medsos span:hover a::before {
    display:none;
}
.nav-teks {
    display:none;
}

.logo-medsos {
    display:none;
}
  /* navbar utama akhir handphone */

/* toogle-bar awal handphone */
.toogle-bar {
    display: flex;
    width: 60px;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 8px;
    align-items: center;
    justify-content: space-evenly;
}

#check-toogle {
    opacity: 0;
}

#check-toogle:checked~.x-toogle {
    display: flex;
    font-size: 25px;
    z-index: 10;
    position: fixed;
    top: 0px;
    right: 0;
    border:1px solid whitesmoke;
    text-shadow: 1px 1px 1px white;
}

#check-toogle:checked~.button-toogle{
    display: none;
}

.toogle-bar .button-toogle {
    display: flex;
    /* font-size:15px; */
    border: 3px solid silver;
    height: 40px ;
    width: 45px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-sizing: border-box;
    transform: translateX(-7.5px) translateY(4px);
    /* padding:3px 3px; */
    /* margin: 5px 15px 0 0;  */
}

#check-toogle:checked~.toogle-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 70vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    right: 0;
    overflow: auto;
}

/* nav teks toogle awal handphone / home / about/ contact */
.nav-teks-toogle {
    display: flex;
    width: 100%;
    height: 45vh;
    justify-content:space-evenly ;
    align-items: center;
    flex-direction: column;
    font-size: 5vw;
    font-family: 'Secular One', sans-serif;
}

.nav-teks-toogle .judul-toogle a {
    color: rgb(255, 251, 251);
}

.nav-teks-toogle span:hover {
    background-color: rgba(25, 8, 218, 0.411);
}
/* nav teks toogle akhir handphone / home / about/ contact */ 

/* nav teks toogle handphone awal / youtube / instagram/ facebook */
.logo-medsos-toogle {
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
}

.h3-logo-medsos-toogle {
    text-align: center;
    font-family:'Permanent Marker', cursive;
    font-size: 5vw;
    text-shadow: 3px 3px 6px rgb(255, 0, 0);
    color: rgb(255, 243, 243);
}

.h3-logo-medsos-toogle::after {
    content: "🔔";
    text-shadow: none;
}

.icon-toogle {
    background-color: white;
    margin: 10px;
}

.icon-toogle a {
    display: flex;
    align-items: center;
    font-size: 4.8vw;
    color: blue;
    font-family: 'Secular One', sans-serif;
}
/* nav teks toogle handphone akhir / youtube / instagram/ facebook */
/* toogle-bar akhir akhir handphone */
/* nav toogle-bar utama handphone */


/* sub- content-navigasi📌 */
/* LI TOOGLE SUB-CONTENT handphone 📌 */
.toogle-sub-bab {
    display: flex;
    width: 80px;
    height: 50px;
    align-items: center;
    background-color: blue;
    border-top: .10000px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-bottom: 2.5px solid grey;
    box-shadow: 0px 0px 5px 1px black;
    font-size: 1.3rem;
}

.li-sub-bab {
    width: calc(100% - 80px);
    height: 50px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 2.5px solid rgb(0, 30, 255);
    box-shadow: 0px 0px 5px 1px black;
    box-sizing: border-box;
}
/* SEARCH SUB-AWAL handphone 🔍*/
#sub-checkbox:checked~.label-search-sub {
    display: inherit;
    z-index: 101;
}

#sub-checkbox:checked~#search-sub {
    display: inherit;
    z-index: 100;
    position: absolute;
    right: 10px;
}

.label-search-sub {
    transform: translate(30px,0px);
    display: none;
    font-size: 1.3em;
}

#search-sub {
    height: 40px;
    width: 180px;
    font-size: 1rem;
    margin-left: 1px;
    background-color: white;
    border: 1px solid black;
    display: none;
}

#search-sub:focus~.label-search-sub{
    z-index: -1;
}

#search-sub:focus{
    box-shadow: 0px 0px 3px .5px rgb(0, 47, 255);
}
/* SEARCH SUB-AKHIR handphone 🔍 */

/* toogle-sub-bab awal 🔼🔽 handphone*/
.toogle-sub-bab {
    display: flex;
    width: 255px;
    height: 50px;
    align-items: center;
    background-color:blue;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
 }

#sub-checkbox:checked~.open-sub {
    display: none;
}

#sub-checkbox:checked~.close-sub {
    display: flex;
    position: absolute;
    left: 0;
    z-index: 10;
    width: calc(100vw);
    height: 50px;
    left: 0%;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px 1px black;
    align-items: center;
    color: black;
    background-color: rgb(255, 255, 255);
}

 #sub-checkbox:checked~.toogle-content-sub-bab {
    display: flex;
    height: 30vh;
    width:calc(100vw);
    top: 100px;
    left: 0;
    position: fixed;
    z-index: 100;
    overflow: auto;
    border-right: 0 solid blue;
    border-bottom: 1.5px solid blue;
    background-color: white;
}

.ol-sub-content-toogle {
    width:calc(100vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

.ol-sub-content-toogle li {
    display: flex;
    width:max-content;
    height: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ol-sub-content-toogle li:hover {
    background-color: skyblue;
}

.ol-sub-content-toogle li a {
    color: black;
    font-size: 1.1rem;
}
/* toogle-sub-bab awal 🔼🔽 handphone */
/*✅ ul-sub-bab utama akhir handphone  */

/* contact toogle handphone awal ☎📞📱 */
#contact-toogle {
    position: fixed;
    top: -50px;
}

#contact-toogle:checked~.isi-contact {
    display: flex;
    position: fixed;
    left:0px;
    top: 100px;
    width: 100vw;
    overflow: auto;
    transform: translate(0,0);
}

.isi-contact span {
    color:rgb(0, 0, 0);
    font-size: 6vw;
}

.judul-contact-toogle{
    display: flex;
    justify-content: space-between;
}

.nav-teks-toogle .close-contact {
    font-size: 1.5rem;
    background-color: red;
    width: 100%;
    height: max-content;
    color: white;
    text-align: center;
    margin-top: 5px;
}
/* contact toogle handphone akhir ☎📞📱 */

/* content utama website handphone awal 👨‍🦱*/
.content-utama {
    width: 100vw;
    margin: 100px 0% 0;
    position: absolute;
    z-index: -100;
    display: grid;
    grid-template-areas: 'image-slide'
                        'judul';
    grid-template-rows: repeat(auto-fit,fit-content);
    background-color: white;
    box-shadow: 4px 4px 15px black;
}

.pembungkus-judul {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 86, 246);
    font-family:'Secular One', sans-serif;
    font-size: 1rem;
    text-align: center;
    text-shadow:1px 1px 1px black,-1px -1px 1px black;
    border-bottom: 4px double blue;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 60px;
    grid-area: judul;
    font-style: italic;
    font-weight: bold;
    box-sizing: border-box;
}

.isi-content {
    width: 100%;
    display: grid;
    background-color: green; 
    height: 1000px;   
}
/* content utama website handphone awal 👩‍🦱 */
     }


