* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color:inherit;
    text-decoration: none;
}

body {
    background-color: rgb(235, 235, 235);
    width: 100vw;
    overflow-x: hidden;
}

/* nav awal laptop 💻 */
nav .nav-ul {
    background-color: darkblue;
    position: fixed;
    width: 100vw;
    height: 40px;
    display: flex;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

/* branding laptop awal */
.teks-logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    font-size: 1.4rem;
    font-family: 'Oleo Script', cursive;
}

.teks-logo img {
     width: 40px;
     margin-right: 5px;
}

.teks-logo a:hover {
    background-color: rgba(255, 255, 255, 0.304);
}

.teks-logo:hover::after {
    content: "👈";
}
/* branding laptop akhir */

/* home about contact laptop awal */
.nav-toogle {
    display: flex;
    width: 70%;
}

.label-toogle,#check-toogle {
    display: none;
} 

#check-toogle {
    opacity: 0;
}

.toogle-menu-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family:'Permanent Marker', cursive;
}

.nav-teks-toogle {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.nav-teks-toogle span {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-teks-toogle span:hover a::before{
    content: "👉";
    position: absolute;
    transform: translate(-25px, 0);
}

.nav-teks-toogle span:hover  {
    background-color: rgba(255, 255, 255, 0.252);
    padding-right: 5px;
}
/* home about contact awal laptop */

/* isi contact muncul di laptop awal */
#contact-navbar {
    position: fixed;
    opacity: 0;
}

#contact-navbar:checked~.link-contact,
.contact-nav:hover .link-contact {
    display: flex;
}

.link-contact {
    position: fixed;
    top: 40px;
    transform: translate(-100px,0);
    padding: 10px;
    width: max-content;
    flex-direction: column;
    display: none;
    background-color: white;
    font-family: 'Secular One', sans-serif;
    color: black;
    font-size: 1.7rem;
}

.nav-teks-toogle span:hover .a-link-contact::before {
    content: "";
}

#contact-navbar:checked~.link-contact span::before, 
.link-contact span:hover::before{
    content: "👉";
    position: absolute;
    transform: translate(-35px,0);
}

.link-contact span:hover {
    background-color: skyblue;
}

.link-contact span div {
    color:blue; 
    display:inline-block;
}
/* ISI CONATACT AWAL MUNCULL DI LAPTOP */

/* gambar youtube ig dan fb laptop */
.nav-medsos-toogle {
    width: 30%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.nav-medsos-toogle span {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-medsos-toogle span a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.nav-medsos-toogle span:hover  {
    background-color: rgba(255, 255, 255, 0.372);
}

.nav-medsos-toogle span:hover ::before {
    content: "👉";
    position: absolute;    
    transform: translate(-30px, 0);
}
/* gambar youtube ig dan fb awal laptop */

/* nav akhir laptop 💻 */



/*✅ ul-sub-bab utama awal laptop📃 */
.ul-sub-bab {
    display: flex;
    position: fixed;
    top: 40px;
    width: 100vw;
    height: 40px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: -1;
    font-family: 'IBM Plex Serif', serif;
}

.li-sub-bab {
    width: calc(100% - 255px);
    height: 39.5px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 2.5px solid darkblue;
    box-sizing: border-box;
}
/* ul-sub-bab-utama akhir laptop 📃*/

/* ol-content-sub laptop ⏩*/
.ol-sub-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    list-style-type: none;
    background-color: white;
    transition: all 1s 1s ease-in-out;
}

.ol-sub-content li a {
    display: flex;
    width: max-content;
    margin-right:20px;
    color:rgb(0, 0, 0);
}

.ol-sub-content li a:hover {
    background-color: skyblue;
}

.parent-ol-sub-content {
    overflow: hidden;
}

#sub-checkbox:checked~.parent-ol-sub-content {
    height: 200px;
    overflow-Y: auto;
    border-right: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    background-color: white;
}

#sub-checkbox:checked~.parent-ol-sub-content .ol-sub-content {
    display: flex;
    width: calc(100vw - 255px);
    height: fit-content;
    font-size: 1.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

#sub-checkbox:checked~.parent-ol-sub-content .ol-sub-content li { 
 margin-bottom: 20px;
 transition: all 1s ease-in-out;
}
/* ol-content-sub laptop ⏩ */

/* LI TOOGLE SUB-CONTENT 📌 */
.toogle-sub-bab {
    display: flex;
    width: 255px;
    height: 40px;
    align-items: center;
    background-color: darkblue;
    color: rgb(255, 255, 255);
    border-bottom: 2.5px solid darkblue;
    box-sizing: border-box;
    font-size: 1.3rem;
}

/* SEARCH SUB-AWAL LAPTOP 🔍*/
.label-search-sub {
    transform: translate(65px,1px);
}


#search-sub {
    height: 70%;
    width: 152px;
    font-size: 1rem;
    margin-left: 1px;
    position: relative;
    transform: translate(95px,0);
    background-color: white;
}

#search-sub:focus~.label-search-sub{
    z-index: -1;
}

#search-sub:focus{
    box-shadow: 0px 0px 6px 3px skyblue;
}
/* SEARCH SUB-AKHIR LAPTOP 🔍 */

/* toogle-sub-bab awal 🔼🔽 laptop*/
.tombol-sub-content{
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    transform: translate(-170px,0);
    z-index: 99;
    font-size: 1.3rem;
} 

.close-sub {
    display: none;
}

#sub-checkbox {
    position: absolute;
    top:-1000px;
}

#sub-checkbox:checked~.open-sub {
    display: none;
}

#sub-checkbox:checked~.close-sub {
    display: flex;
    z-index: 10;
}
/*✅ ul-sub-bab utama akhir laptop  */

/* content utama website laptop awal 💻 */
.content-utama {
    width: 100vw;
    margin: 105px 0 0;
    position: absolute;
    z-index: -100;
    display: grid;
    grid-template-areas: 'judul'
                         'image-slide';
    grid-template-rows: repeat(auto-fit,fit-content);
    background-color: white;
    box-shadow: 4px 4px 15px black;
}
/* content utama website laptop awal 💻 */


/* isi kontent-utama laptop awal*/
.container-parent {
    width: 100%;
    display: grid;
    grid-template-areas: "grid-1 grid-2 grid-3";
    grid-template-columns: 200px calc(100% - 200px - 30%) 30%;
    margin: auto;
    background-color: rgb(219, 219, 219); 
    height: 1000px;
    /* transform: translate(0px,-30px); */
    box-shadow: 0px 0px 10px 5px black;   
}

.container-grid-1 {
    background-color: red;
    padding: 0 10px;
    box-sizing: border-box;
    grid-area: grid-1;
}

.container-grid-2 {
    background-color: black;
    grid-area: grid-2;
}

.container-grid-3 {
    background-color: green;
    grid-area: grid-3;
}
/* isi kontent-utama laptop akhir*/













/* @media query atau breakpoint untuk screen layar tablet */
 @media (min-width: 768px) and (max-width: 1024px) {
/* nav awal tablet 💴 */
/* branding tablet awal */
.teks-logo {
    width: max-content;
}
/* branding tablet akhir */

/* home about contact tablet awal */
.nav-toogle {
    width: max-content;
    justify-content: flex-end;
    padding-right: 10px;
}

/* toogle button untuk tablet awal */
#check-toogle:checked~.button-toogle {
    display: none;
}

#check-toogle,.button-toogle{
    display: flex;
    position: relative;
    border: 2px solid silver;
    box-sizing: border-box;
} 

#check-toogle:checked~.x-toogle {
    display: flex;
    position: relative;
    z-index: 100;
}

#check-toogle:checked~.toogle-menu-ul {
    opacity: 1;
    transform:translate(0,0vh) ;
}

.toogle-menu-ul {
    opacity: 0;
    transform:translate(50vw,0vh) ;
    position: fixed;
    transition: all 1s ease;
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    align-items: center;
    font-family:'Permanent Marker', cursive;
    background-color: black;
}

.nav-teks-toogle {
    width: 100%;
    height: 200px;
    margin: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.nav-teks-toogle span {
    display: flex;
    height: fit-content;
    align-items: center;
}
/* home about contact awal tablet */

/* isi contact muncul di tablet awal */
#contact-navbar {
    position: fixed;
    opacity: 0;
}


#contact-navbar:checked~.button-contact::after {
    content: "close";
    position: absolute;
    display: flex;
    background-color: red;
    justify-content: center;
    top: 205px;
    width: 422px;
    left: -150px;
}

#contact-navbar:checked~.link-contact {
    display: flex;
}

.contact-nav:hover .link-contact {
    display: none;
}

.link-contact {
    position: absolute;
    top: 90px;
    left: -150px;
    transform: translate(-0px,0px);
    padding: 10px;
    width: max-content;
    flex-direction: column;
    display: none;
    background-color: white;
    font-family: 'Secular One', sans-serif;
    color: black;
    font-size: 1.4rem;
}
/* ISI CONATACT AWAL MUNCULL DI tablet */

/* gambar youtube ig dan fb tablet */
.nav-medsos-toogle {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-medsos-toogle span {
    display: flex;
    background-color: white;
    margin: 10px 0;
    width: 90%;
    height: 100%;
    align-items: center;
}

.nav-medsos-toogle span a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.nav-medsos-toogle span .instagram::after {
    font-family: 'Secular One', sans-serif;
    content: "@muhammaddavafahreza";
    color: black;
    margin-left: 2px;
    font-size: 3vw;
}

.nav-medsos-toogle span .facebook::after {
    font-family: 'Secular One', sans-serif;
    content: "Mhd Dava Fahreza";
    color: black;
    margin-left: 2px;
    font-size: 3vw;
}

.nav-medsos-toogle span .youtube::after {
    font-family: 'Secular One', sans-serif;
    content: "Tongkrongan Online";
    color: black;
    margin-left: 2px;
    font-size: 3vw;
}

.nav-medsos-toogle span:hover  {
    background-color: rgba(255, 255, 255, 0.372);
}

.nav-medsos-toogle span:hover ::before {
    content: "👉";
    position: absolute;    
    transform: translate(-30px, 0);
}
/* gambar youtube ig dan fb awal tablet */

/* nav akhir tablet 💻 */

/* toogle sub-bab awal tablet 🔽🔼 */


/* toogle sub-bab akhir tablet 🔽🔼 */

/* content utama website tablet awal 🦍*/
.content-utama {
    top: 0;
    margin: 95px 0 0;
    grid-template-areas: 'judul'
                         'image-slide';
}

/* isi kontent-utama laptop awal*/
.container-parent {
    width: 100%;
    display: grid;
    grid-template-areas: "grid-1 grid-2 grid-3";
    grid-template-columns: 200px calc(100% - 200px - 30%) 30%;
    margin: auto;
    background-color: rgb(219, 219, 219); 
    height: 1000px;
    /* transform: translate(0px,-30px); */
    box-shadow: 0px 0px 10px 5px black;   
}

.container-grid-1 {
    background-color: red;
    padding: 0 10px;
    box-sizing: border-box;
    grid-area: grid-1;
}

.container-grid-2 {
    background-color: black;
    grid-area: grid-2;
}

.container-grid-3 {
    background-color: green;
    grid-area: grid-3;
}

/* content utama website tablet awal 🦍 */
}





































/* @media query atau breakpoint untuk screen layar handphone */
     @media (min-width: 320px) and (max-width: 767px) {

/* nav awal handphone 😍*/


/* branding handphone 😍awal */
.teks-logo {
    width: max-content;
}
/* branding handphone 😍akhir */

/* home about contact handphone 😍awal */
.nav-toogle {
    width: max-content;
    justify-content: flex-end;
    padding-right: 10px;
}

/* toogle button untuk handphone 😍awal */
#check-toogle:checked~.button-toogle {
    display: none;
}

#check-toogle,.button-toogle{
    display: flex;
    position: relative;
    border: 2px solid silver;
    box-sizing: border-box;
} 

#check-toogle:checked~.x-toogle {
    display: flex;
    position: relative;
    z-index: 100;
}

#check-toogle:checked~.toogle-menu-ul {
    opacity: 1;
    transform:translate(0,0) ;
}

.toogle-menu-ul {
    opacity: 0;
    transform:translate(70vw,0vh);
    position: fixed;
    transition: all 1s ease;
    width:70vw ;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    align-items: center;
    font-family:'Permanent Marker', cursive;
    background-color: black;
}

.nav-teks-toogle {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.nav-teks-toogle span {
    display: flex;
    height: max-content;
    align-items: center;
}
/* home about contact awal handphone 😍*/

/* isi contact muncul di handphone 😍awal */
#contact-navbar {
    position: fixed;
    opacity: 0;
}

#contact-navbar:checked~.link-contact .button-contact-2::after {
    content: "close";
    color: white;
    height: fit-content;
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: flex;
    background-color: red;
    justify-content: center;
    transform: translate(-1.5vw,6vw);
    width: 100%;
}
#contact-navbar:checked~.link-contact {
    display: flex;
}

.contact-nav:hover .link-contact {
    display: none;
}

.link-contact {
    position: absolute;
    top: 90px;
    left: -25vw;
    transform: translate(-0px,0px);
    padding: 10px;
    width: 90vw;
    flex-direction: column;
    display: none;
    background-color: white;
    font-family: 'Secular One', sans-serif;
    color: black;
    font-size: 5vw;
}

#contact-navbar:checked~.link-contact span::before, 
.link-contact span:hover::before{
    content: "👉";
    position: absolute;
    transform: translate(-8vw,0);
}
/* ISI CONATACT AWAL MUNCULL DI laptop */

/* gambar youtube ig dan fb handphone 😍*/

.nav-medsos-toogle {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.nav-medsos-toogle span {
    display: flex;
    background-color: white;
    margin: 10px 0;
    width: 90%;
    height: 100%;
    align-items: center;
}

.nav-medsos-toogle span a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.nav-medsos-toogle span .instagram::after {
    font-family: 'Secular One', sans-serif;
    content: "@muhammaddavafahreza";
    color: black;
    margin-left: 2px;
    font-size: 4vw;
}

.nav-medsos-toogle span .facebook::after {
    font-family: 'Secular One', sans-serif;
    content: "Mhd Dava Fahreza";
    color: black;
    margin-left: 2px;
    font-size: 4vw;
}

.nav-medsos-toogle span .youtube::after {
    font-family: 'Secular One', sans-serif;
    content: "Tongkrongan Online";
    color: black;
    margin-left: 2px;
    font-size: 4vw;
}

.nav-medsos-toogle span:hover  {
    background-color: rgba(255, 255, 255, 0.372);
}

.nav-medsos-toogle span:hover ::before {
    content: "👉";
    position: absolute;    
    transform: translate(-30px, 0);
}
/* gambar youtube ig dan fb awal handphone 😍*/

/* nav akhir handphone 😍 */



/* sub- content-navigasi📌 */
.ul-sub-bab {
    display: flex;
    position: fixed;
    top: 40px;
    width: 100vw;
    height: 40px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: -1;
    font-family: 'IBM Plex Serif', serif;
}

.li-sub-bab {
    width: calc(100% - 85px);
    height: 39.5px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 2.5px solid darkblue;
    box-sizing: border-box;
}
/* LI TOOGLE SUB-CONTENT handphone 📌 */
/* ol-content-sub handphone ⏩*/
.ol-sub-content {
    width: calc(100vw - 85px);
    height: 100%;
    display: flex;
    overflow: auto;
    position: relative;
    z-index: 2;
    align-items: center;
    list-style-type: none;
    background-color: white;
    border: 0;
    transform: translate(0,0);
    transition: transform 1s ease-in-out,font-size 1s 2s ease-in-out,width 1s 1s ease-in-out;
}

.ol-sub-content li a {
    display: flex;
    width: max-content;
    margin-right:20px;
    color:rgb(0, 0, 0);
}

.ol-sub-content li a:hover {
    background-color: skyblue;
}

.parent-ol-sub-content {
    transition: all 1s ease-in-out;
    z-index: 100;
    height: 40px;
    box-sizing: border-box;
    border-right: 3px solid darkblue;
    border-bottom: 3px solid darkblue ;
}

#sub-checkbox:checked~.parent-ol-sub-content {
    height: 40vh;
    width: 100vw;
    border:0 ;
    transform: translate(0,40px);
    position: absolute;
    background-color:rgba(255, 0, 0, 0);
}

#sub-checkbox:checked~.parent-ol-sub-content .ol-sub-content {
    display: flex;
    transform: translate(0,-0px);
    position: absolute;
    width: 100vw;
    height: fit-content;
    font-size: 1.2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-right: 3px solid darkblue;
    border-bottom: 2px solid darkblue;
}
/* ol-content-sub hanphone ⏩ */

/* LI TOOGLE SUB-CONTENT 📌 */
.toogle-sub-bab {
    display: flex;
    width: 85px;
    height: 40px;
    align-items: center;
    background-color: darkblue;
    color: rgb(255, 255, 255);
    border-bottom: 2.5px solid darkblue;
    box-sizing: border-box;
    font-size: 1.3rem;
}

/* SEARCH SUB-AWAL handphone 🔍*/
.label-search-sub {
    transform: translate(-35px,0px);
    z-index: 1;
}

#search-sub {
    height: 70%;
    width: 152px;
    font-size: 1rem;
    margin-left: 1px;
    position: absolute;
    transform: translate(-90px,0);
    z-index: 1;
    background-color: white;
    right: 0;
}

#search-sub:focus~.label-search-sub{
    z-index: -1;
}

#search-sub:focus{
    box-shadow: 0px 0px 6px 3px skyblue;
}
/* SEARCH SUB-AKHIR handphone 🔍 */

/* toogle-sub-bab awal 🔼🔽 handphone*/
.tombol-sub-content{
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    transform: translate(-5px,15px);
    background-color: greenyellow;
    z-index: 99;
    font-size: 1.3rem;
} 

.close-sub {
    display: none;
}

#sub-checkbox {
    position: absolute;
    top:-1000px;
}

#sub-checkbox:checked~.open-sub {
    display: none;
}

#sub-checkbox:checked~.close-sub {
    display: flex;
    z-index: 10;
}
/*✅ ul-sub-bab utama akhir handphone  */

/* content utama website handphone awal 👨‍🦱*/
.content-utama {
    width: 100vw;
    grid-template-areas: 'judul'
                        'image-slide';
}

.container-parent {
    width: 100%;
    margin-top: 50px;
    display: grid;
    background-color: green; 
    height: 100px;   
}

.container-grid-1 {
    background-color: red;
    padding: 0 10px;
    box-sizing: border-box;
    grid-area: grid-1;
}

.container-grid-2 {
    background-color: black;
    grid-area: grid-2;
}

.container-grid-3 {
    background-color: green;
    grid-area: grid-3;
}
/* content utama website handphone awal 👩‍🦱 */
     }


