$font-1:'Permanent Marker', cursive;
$font-2:'Secular One', sans-serif;
$font-3: 'Oleo Script', cursive;
$font-4:'Fira Sans Extra Condensed', sans-serif;


.projeck-dava {
    grid-area: area-3;
    margin-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);

    h1 {
        padding: 20px;
        text-transform: capitalize;
    }

    .card {
        margin:0 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border: 3px solid gray;
            height: 100%;
            width: 100%;
        }

        .card-title {
            text-transform: capitalize;
        }
        

        .card-text {
            font-weight: thin;
            font-family: $font-4;
        }
        
        .card-footer {
            background-color: gray;
            text-transform: capitalize;
        }
    }

    img {
        height: 200px;
    }
}