.video-background {
    video {
    display: none;
    position: fixed;
    width: 100vw;
    z-index: -2000;
    }
}

#normal-mode:checked~.utama-pembungkus .video-background .normal-video {
    display: flex;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video {
    display: flex;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video {
    display: flex;
}




// image-header
#light-mode:checked~.utama-pembungkus .content-utama .header-profile {
    background-image: none;
    background-color: transparent;
}

#dark-mode:checked~.utama-pembungkus .content-utama .header-profile {
    background-image: none;
    background-color: transparent;
}



// 📌 max-width
@media (max-width:1026px) {

// background-video
#normal-mode:checked~.utama-pembungkus .video-background .normal-video {
    display: none;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video {
    display: none;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video {
    display: none;
}

// video tablet dan hp
#normal-mode:checked~.utama-pembungkus .video-background .normal-video-hp {
    display: flex;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video-hp {
    display: flex;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video-hp {
    display: flex;
}

}
// 📌 tinggi
@media  (max-width : 450px) and (min-height: 700px) {
    .video-background {
        .normal-video-hp,
        .light-video-hp, 
        .dark-video-hp {
            width: 100vmax;
        }
    }
}

@media  (max-width :300px) and (min-height: 550px) {
    .video-background {
        .normal-video-hp,
        .light-video-hp, 
        .dark-video-hp {
            width: 100vmax;
        }
    }
}

@media  (min-width :300px) and (min-height: 550px) {
    .video-background {
        .normal-video-hp,
        .light-video-hp, 
        .dark-video-hp {
            width: 100vmax;
        }
    }
}

// @media (min-width : 1020px) and (min-height:600px) {
// .video-background {
//     video {
//     display: none;
//     position: fixed;
//     width: 125vmax;
//     z-index: -2000;
//     }
// }
// }

@media (min-width: 1020px) and (min-height: 800px) {
// background-video
#normal-mode:checked~.utama-pembungkus .video-background .normal-video {
    display: none;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video {
    display: none;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video {
    display: none;
}

// video tablet dan hp
#normal-mode:checked~.utama-pembungkus .video-background .normal-video-hp {
    display: flex;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video-hp {
    display: flex;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video-hp {
    display: flex;
}
} 