.video-background {
    video {
    display: none;
    position: fixed;
    width: 100vw;
    z-index: -2000;
    }
}

#normal-mode:checked~.utama-pembungkus .video-background .normal-video {
    display: flex;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video {
    display: flex;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video {
    display: flex;
}




// image-header
#light-mode:checked~.utama-pembungkus .content-utama .header-profile {
    background-image: none;
    background-color: transparent;
}

#dark-mode:checked~.utama-pembungkus .content-utama .header-profile {
    background-image: none;
    background-color: transparent;
}



// 📌 max-width
@media (max-width:1026px) {

// background-video
#normal-mode:checked~.utama-pembungkus .video-background .normal-video {
    display: none;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video {
    display: none;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video {
    display: none;
}

// video tablet dan hp
#normal-mode:checked~.utama-pembungkus .video-background .normal-video-hp {
    display: flex;
}

#light-mode:checked~.utama-pembungkus .video-background .light-video-hp {
    display: flex;
}

#dark-mode:checked~.utama-pembungkus .video-background .dark-video-hp {
    display: flex;
}

}
// 📌 tinggi
// @media (max-height:570px) {
//     .video-background {
//         display: none;
//     }
